* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.wrap {
  width: 200px;
  margin: 100px;
  background: #333;
  color: #fff;
}
.wrap li {
  margin: 5px 0;
}
.wrap li p {
  padding: 5px 10px;
  cursor: pointer;
}
.wrap li p:hover {
  background: #ddd;
  color: #333;
}
.wrap li p span {
  float: right;
}
.wrap .menu {
  margin-left: 20px;
  display: none;
}
